[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FMradio"]
	path = FMradio
	url = https://github.com/cfwp/fmradio
[submodule "rags2ridges"]
	path = rags2ridges
	url = https://github.com/cfwp/rags2ridges
